<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Guestbook</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Country</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                <% messages.forEach(function({username, country, message, id, date}) {%>
                    <tr>
                        <th scope="row"><%= id + 1 %></th>
                        <td class="col message-username">
                            <%= username %>
                        </td>
                        <td class="col message-country">
                            <%= country %>
                        </td>

                        <td class="col message-date">
                            <%= date %>
                        </td>
                        
                        <td class="col-8 message-body">
                            <%= message %>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>

    </div>
</body>

</html>